
(cloudflare) {
  tls {
    dns cloudflare {{ cloudflare_token }}
  }
}

http://{{ domain_name }} {
  redir https://{{ domain_name }}{uri}
}
http://chat.{{ domain_name }} {
  redir https://chat.{{ domain_name }}{uri}
}
http://www.{{ domain_name }} {
  redir https://{{ domain_name }}{uri}
}

https://www.{{ domain_name }} {
  redir https://{{ domain_name }}{uri}
}
https://{{ domain_name }} {
  import cloudflare
  reverse_proxy localhost:{{ mealie_port }}
}
https://chat.{{ domain_name }} {
  import cloudflare
  reverse_proxy localhost:{{ open_webui_port }}
}
