source_directories:
  - /home
  - /etc
  - /root
  - /var/opt
  - /var/log
repositories:
    - path: '{{ remote_borg_repo_path }}'
      label: "remote"
compression: zstd
encryption_passphrase: '{{ borg_passphrase }}'
archive_name_format: '{hostname}-{now:%Y-%m-%d-%H%M%S}'
retries: 5
retry_wait: 5
keep_within: 10d
keep_daily: 5
keep_weekly: 4
keep_monthly: 3
keep_yearly: 2
sqlite_databases:
    - name: mealie
      path: /var/opt/mealie/mealie.db
    - name: open-webui
      path: /var/opt/open-webui/webui.db
    - name: open-webui-chroma
      path: /var/opt/open-webui/vector_db/chroma.sqlite3
    - name: lldap
      path: /var/opt/lldap/users.db
